.footer {
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: $navColor;
  font-family: $font;
  position: absolute;
  bottom: 0;
}

.contact{
  position: absolute;
  right: 10rem;
}

.contactText {
  font-family: $font;
  color: $backGround;
}
