.footer {
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: $navColor;
  font-family: $font;
  position: absolute;
  bottom: 0;
}

i {
  font-size: 3rem;
  color: $backGround;
}

.tooltip {
    position: relative;
    display: flex;
    border-bottom: 1px;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: inherit;
    background-color: black;
    color: $backGround;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 3rem;
    /* Position the tooltip */
    position: absolute;
    top: -1.65rem;;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
